.App {
  text-align: center;
}

.Container {
  width: 50%;
  margin-top: 10vh;
}

body {
  background-image: url(https://images.unsplash.com/photo-1425934398893-310a009a77f9?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY0fHxoZWFsdGh5JTIwZm9vZHxlbnwwfHwwfHx8MA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  background-color: rgb(15, 15, 62);
}

.List {
  margin-top: 5vh;
}

.Btn {
  background-color: #80489C;
  margin-top: 5vh;
  border: none;
}

h1 {
  color: #80489C;
}

@media all and (max-width: 800px) {
  .Container {
    width: 80%;
  }
}
